body{
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
/*navigation bar*/
.navbar{
  width: 100%;
  text-align: center;
  font-size: 2.4em;
  position: fixed;
  z-index: 2;
  background-color: black;
  top: 0;
}
.navbar ul{
  display: inline-flex;
}
.list-item{
  float: left;
  padding-right: 25px;
  list-style-type: none;
}
/*navigation bar anchors*/
.navbar a{
  text-decoration: none;
  color: white;
  opacity: 0.8;
}
.navbar a:hover{
  opacity: 1;
  transition: 0.5s;
  color: red;
}
/*data styling*/
.data{
  position: relative;
  padding-top: 100px;
  font-size: 2vw;
}
/*TRY text*/
.try{
  color: white;
  text-decoration: none;
  border-style: none;
  border-bottom-style: dotted;
  border-width: 5px;
}
.try:hover{
  color: red;
  transition: 0.5s;
}
/*list*/
ul{
  text-align: left;
  display: inline-block;
}
.heading{
  color: red;
}
.bottom-container{
  background-color: black;
  color: #28abb9;
}
.bottom-container a{
  text-decoration: none;
  color: #a5ecd7;
  display: inline;
  position: relative;
  top: 8px;
  opacity: 0.8;
  transition: 0.3s;
}
.bottom-container a:hover{
  color: red;
  opacity: 1;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: lightgrey;
  border-width: 6px;
  width: 3%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-link img{
  width: 1rem;
  height: 1rem;
  padding-right: 10px;
  padding-bottom: 10px;
}
